{% doc %}
  @description This an accordion card.
  @description Accept variables: title and description

  @param title - {string} The title of the accordion
  @param description - {string} The description of the accordion
  @param active - {boolean} - if true, print the class: "rotate-180" on the span with the bienfaits__icon class. If false, print the class: "hidden" on the div with the class of bienfaits__body.

  @example {% render 'accordion-card', title: "", description: "", active: false %}
{% enddoc %}
<div class="bienfaits__card">
  <div class="bienfaits__heading-block">
    <span class="bienfaits__heading">
      {%- if title != blank -%}
        {{ title }}
      {%- else -%}
        Bienfaits et Efficacité
      {%- endif -%}
    </span>

    <span class="bienfaits__icon {% if active == 1 %}rotate-180{%- endif -%}">
      <img class="bienfaits__icon-img" width="22" height="22" src="{{ 'Dropdown-arrow.png' | asset_url }}">
    </span>
  </div>
  <div class="bienfaits__body {% if active != 1 %}hidden{%- endif -%}">
    {%- if description != blank -%}
      {{ description }}
    {%- else -%}
      Lorem ipsum dolor sit amet consectetur adipiscing elit maecenas nam elementum, integer aliquet vivamus himenaeos
      dui facilisis rutrum magnis vitae quam, tempus varius sodales malesuada semper pretium fermentum accumsan
      tincidunt. Dapibus habitant phasellus venenatis dignissim sed litora nibh ullamcorper, dis duis aliquet praesent
      mi donec vivamus egestas rhoncus, commodo nam nostra integer iaculis vehicula sapien. Senectus pharetra cum
      himenaeo
    {%- endif -%}
  </div>
</div>
